# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "vendored/k3k-controller"]
	path = vendored/k3k-controller
	url = ../controller
	branch = main
[submodule "vendored/ics-chrono-tz"]
	path = vendored/ics-chrono-tz
	url = ../../libs/ics-timezones
