
[rabbit_mq]
# The URL to use to connect to the rabbit mq broker
url = "amqp://guest:guest@localhost/%2F"
mail_task_queue = "opentalk_mailer"

[smtp]

# SMTP Cleartext: smtp://foo:bar@my-mailserver:1234/?disable_starttls=true
# SMTP with StartTLS: smtp://foo:bar@my-mailserver:1234/
# SMTP with implicit TLS: smtps://foo:bar@my-mailserver:1234/
# smtp_server = "smtp://localhost:1025?disable_starttls=true"

[template_builder]

# join_link_builder = "https://{base_url}lobby/{room_id}"
# guest_link_builder = "https://{base_url}invite/{invite_id}"

# [frontend]
# base_url = "https://opentalk.mailbox.org"


# [templates]
invite

# [languages]
# default_language = 'de-DE'
